.input-label
  display: block
  padding-bottom: 25px
  position: relative

  &.focused
    .input-label__text
      color: $text-color

  &__wrap
    align-items: center
    display: flex
    justify-content: space-between

    a
      color: $no-active
      font-size: 13px
      font-weight: 500
      line-height: 20px
      margin-bottom: 8px
      text-decoration: underline

      &:hover
        color: $text-color-light

  &__text
    color: $no-active
    display: block
    font-size: 13px
    line-height: 20px
    margin-bottom: 8px
    transition: color 0.3s

  &__error
    bottom: 0
    color: $color-red
    display: block
    font-size: 13px
    left: 0
    line-height: 20px
    position: absolute
    top: auto
    width: 100%

  &__input-wrap
    display: block
    position: relative

    .input
      padding-right: 60px

  &__button
    align-items: center
    border: none
    background-color: transparent
    cursor: pointer
    display: flex
    height: 60px
    justify-content: center
    left: auto
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    width: 60px
    z-index: 1

    &.is-active
      .input-label__button-icon
        fill: $text-color

  &__button-icon
    fill: $no-active
    height: 24px
    width: 24px

  .input-label
    padding-bottom: 0

.input,
.textarea
  background-color: #F7F9FC
  border: 1px solid #F7F9FC
  border-radius: 20px
  color: $text-color
  font-size: 15px
  font-weight: 500
  line-height: 17px
  transition: border-color 0.3s
  width: 100%

  &:focus
    border-color: $color-blue
    outline: none

  &.error
    border-color: $color-red

    &:focus
      border-color: $color-red

  &:disabled
    opacity: 0.5

.input
  height: 60px
  padding: 21px 20px

.textarea
  height: 140px
  padding: 21px 20px
  resize: none

/*placeholder*/
.input::-webkit-input-placeholder
  color: #303032
  opacity: 1

.input::-moz-placeholder
  color: #303032
  opacity: 1

.input:-ms-input-placeholder
  color: #303032
  opacity: 1

.textarea::-webkit-input-placeholder
  color: #303032
  opacity: 1

.textarea::-moz-placeholder
  color: #303032
  opacity: 1

.textarea:-ms-input-placeholder
  color: #303032
  opacity: 1

/*:focus placeholder*/
.input:focus::-webkit-input-placeholder
  opacity: 0

.input:focus::-moz-placeholder
  opacity: 0

.input:focus:-ms-input-placeholder
  opacity: 0

.textarea:focus::-webkit-input-placeholder
  opacity: 0

.textarea:focus::-moz-placeholder
  opacity: 0

.textarea:focus:-ms-input-placeholder
  opacity: 0
