html
  box-sizing: border-box
  font-family: sans-serif
  height: 100%

*,
*::after,
*::before
  box-sizing: inherit

body
  display: flex
  flex-direction: column
  height: 100%
  min-height: 100%
  min-width: 320px
  overflow-wrap: break-word

.wrapper
  flex: 1 0 auto
  padding-top: 70px

  @media(min-width: 960px)
    padding-top: 170px

.container
  margin-left: auto
  margin-right: auto
  max-width: 1260px
  padding-left: 10px
  padding-right: 10px

.page-content
  overflow-x: hidden
  padding-bottom: 40px

  @media(min-width: 960px)
    padding-bottom: 80px

.default-indent
  margin-bottom: 40px

  @media(min-width: 1240px)
    margin-bottom: 80px

.mb-30-60
  margin-bottom: 30px

  @media(min-width: 1240px)
    margin-bottom: 60px

.mb-10-20
  margin-bottom: 10px

  @media(min-width: 960px)
    margin-bottom: 20px

.mb-12-30
  margin-bottom: 12px

  @media(min-width: 960px)
    margin-bottom: 30px

.page-columns
  @media(min-width: 960px)
    display: flex

  &__left
    display: none

    @media(min-width: 960px)
      display: block
      min-width: 315px
      width: 25.40322%

  &__right
    @media(min-width: 960px)
      width: 74.59678%

h1 + .page-columns
  margin-top: 20px
