<footer class="footer">
  <div class="footer__container container">
    <div class="footer__logo-block">
      <div class="footer__logo">
        <img src="images/logo.svg" alt="Selfy Check">
      </div>
      <a class="footer__partner-link" href="https://geropharm.ru/" target="_blank">Geropharm.ru</a>
    </div>
    <div class="footer__menu-block">
      <ol class="footer-menu">
        <li class="footer-menu__item"><a class="footer-menu__link" href="about.html">O компании</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Продукты</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Школа диабета</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Где купить</a></li>
      </ol>
      <ol class="footer-menu">
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Наши пользователи</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Сервис</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">События</a></li>
      </ol>
    </div>
    <div class="footer__contacts">
      <p class="footer__contacts-title">Телефон</p>
      <a class="footer__contacts-link" href="tel:+78006120551">8 800 612 05 51</a>
      <p class="footer__contacts-title">Почта</p>
      <a class="footer__contacts-link" href="mailto:premier@test.ru">Premier@test.ru</a>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-container container">
      <p class="footer__copyright">All rights reserved 2019</p>
      <ol class="service-menu">
        <li class="service-menu__item"><a class="service-menu__link" href="#">Пользовательское соглашение</a></li>
        <li class="service-menu__item"><a class="service-menu__link" href="#">Соглашение об обработке персональных данных</a></li>
      </ol>
      <p class="footer__developer"><a class="footer__developer-link" href="#" target="_blank">Сделано в Азбуке</a></p>
    </div>
  </div>
</footer>
