<header class="header compensate-for-scrollbar">
  <div class="header__top">
    <div class="header__top-container container">
      <a class="header__logo" href="main.html"><img src="images/logo.svg" alt="Selfy Check"></a>
      <p class="header__phone"><a class="header__phone-link" href="tel:+78006120551">8 (800) 612 05 51</a></p>
      <div class="header__search">
        <form class="header-search" action="search.html" method="get">
          <input class="header-search__input" name="q" type="text" placeholder="Поиск" value="">
          <button class="js-search header-search__submit" type="submit" title="Поиск">
            <svg class="header-search__submit-icon" aria-hidden="true">
              <use xlink:href="#search" />
            </svg>
          </button>
        </form>
      </div>
      <div class="header__user-block">
        <a class="header__login" href="#">
          <svg class="header__login-icon" aria-hidden="true">
            <use xlink:href="#user" />
          </svg>
          <span class="header__login-text">Войти</span>
        </a>
        <button class="js-menu-toggler menu-toggler" type="button"><span class="menu-toggler__burger"></span></button>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <ol class="main-menu">
        <li class="main-menu__item">
          <a class="main-menu__link" href="about.html">O компании</a>
          <ol class="sub-menu">
            <li class="sub-menu__item"><a class="sub-menu__link" href="producer.html">Производитель</a></li>
            <li class="sub-menu__item"><a class="sub-menu__link" href="produce.html">Производство</a></li>
          </ol>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="products.html">Продукты</a>
          <ol class="sub-menu">
            <li class="sub-menu__item"><a class="sub-menu__link" href="gm.html">Глюкометры Selfy Check</a></li>
            <li class="sub-menu__item"><a class="sub-menu__link" href="tp.html">Тест полоски Selfy Check</a></li>
            <li class="sub-menu__item"><a class="sub-menu__link" href="pen.html">Ручка-прокалыватель</a></li>
            <li class="sub-menu__item"><a class="sub-menu__link" href="soft.html">Программное обеспечение</a></li>
            <li class="sub-menu__item"><a class="sub-menu__link" href="#">Помощник в выборе глюкометра</a></li>
            <li class="sub-menu__item"><a class="sub-menu__link" href="#">Калькулятор расчета доз</a></li>
          </ol>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="school.html">Школа диабета</a>
          <ol class="sub-menu">
            <li class="sub-menu__item"><a class="sub-menu__link" href="theory.html">Теоретические материалы</a></li>
            <li class="sub-menu__item"><a class="sub-menu__link" href="#">Аудио материалы</a></li>
            <li class="sub-menu__item"><a class="sub-menu__link" href="video.html">Видео материалы</a></li>
          </ol>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="buy.html">Где купить</a>
          <ol class="sub-menu">
            <li class="sub-menu__item"><a class="sub-menu__link" href="shops_on_map.html">Аптеки</a></li>
            <li class="sub-menu__item"><a class="sub-menu__link" href="online_shops.html">Онлайн-аптеки</a></li>
            <li class="sub-menu__item"><a class="sub-menu__link" href="#">Диабетические магазины</a></li>
          </ol>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Наши пользователи</a>
          <ol class="sub-menu">
            <li class="sub-menu__item"><a class="sub-menu__link" href="video-reviews.html">Видеоотзывы</a></li>
            <li class="sub-menu__item"><a class="sub-menu__link" href="#">Статьи</a></li>
          </ol>
        </li>
        <li class="main-menu__item"><a class="main-menu__link" href="service.html">Сервис</a></li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">События</a>
          <ol class="sub-menu">
            <li class="sub-menu__item"><a class="sub-menu__link" href="#">Новости</a></li>
            <li class="sub-menu__item"><a class="sub-menu__link" href="#">Акции</a></li>
            <li class="sub-menu__item"><a class="sub-menu__link" href="#">Проекты</a></li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</header>
