<button class="js-pmenu-toggler pmenu-toggler" type="button">
  <span class="pmenu-toggler__icon"></span>
  Меню
</button>
<ol class="personal-menu">
  <li class="personal-menu__item">
    <a class="personal-menu__link is-active" href="news.html">
      <svg class="personal-menu__icon" aria-hidden="true">
        <use xlink:href="#news" />
      </svg>
      Новости
    </a>
  </li>
  <li class="personal-menu__item">
    <a class="personal-menu__link" href="#">
      <svg class="personal-menu__icon" aria-hidden="true">
        <use xlink:href="#actions" />
      </svg>
      Акции
    </a>
  </li>
  <li class="personal-menu__item">
    <a class="personal-menu__link" href="#">
      <svg class="personal-menu__icon" aria-hidden="true">
        <use xlink:href="#projects" />
      </svg>
      Проекты
    </a>
  </li>
</ol>
