<button class="js-pmenu-toggler pmenu-toggler" type="button">
  <span class="pmenu-toggler__icon"></span>
  Меню
</button>
<ol class="personal-menu">
  <li class="personal-menu__item">
    <a class="personal-menu__link is-active" href="personal.html">
      <svg class="personal-menu__icon" aria-hidden="true">
        <use xlink:href="#personal" />
      </svg>
      Личные данные
    </a>
  </li>
  <li class="personal-menu__item">
    <a class="personal-menu__link" href="calc-options.html">
      <svg class="personal-menu__icon" aria-hidden="true">
        <use xlink:href="#calc" />
      </svg>
      Настр. расч. доз
    </a>
  </li>
  <li class="personal-menu__item">
    <a class="personal-menu__link" href="school.html">
      <svg class="personal-menu__icon" aria-hidden="true">
        <use xlink:href="#school" />
      </svg>
      Школа диабета
    </a>
  </li>
  <li class="personal-menu__item">
    <a class="personal-menu__link" href="favorite.html">
      <svg class="personal-menu__icon" aria-hidden="true">
        <use xlink:href="#fav" />
      </svg>
      Избранное
    </a>
  </li>
  <li class="personal-menu__item">
    <a class="personal-menu__link" href="docs.html">
      <svg class="personal-menu__icon" aria-hidden="true">
        <use xlink:href="#docs" />
      </svg>
      Мои документы
    </a>
  </li>
</ol>
