.blocks-3d
  margin-bottom: 40px

  @media(min-width: 960px)
    margin-bottom: 104px

.block-3d
  cursor: pointer
  margin-bottom: 30px
  margin-left: auto
  margin-right: auto
  text-align: center

  &:hover
    .block-3d__note
      opacity: 0

  &__note
    color: rgba(#616996, 0.34)
    font-size: 13px
    font-weight: 700
    line-height: 1
    margin-bottom: 13px
    text-transform: uppercase
    transition: opacity 0.3s

  &__image
    margin-bottom: 25px

  &__title
    font-size: 16px
    font-weight: 700
    line-height: 1.41666

    @media(min-width: 960px)
      font-size: 24px
