<div class="js-page-slider page-slider">
  <div class="page-slider__slide">
    <div class="page-banner">
      <img class="page-banner__image" src="images/content/banners/main-page.jpg" alt="">
      <div class="page-banner__content">
        <h1 class="page-banner__title">Мы создаем <span class="color-blue">здоровое</span> будущее</h1>
        <div class="page-banner__text">
          <p>Эффективные и точные системы самоконтроля гликемии, мотивирующие к лучшей компенсации диабета</p>
        </div>
        <a class="small-link" href="#">
          <span class="small-link__text">УЗНАТЬ БОЛЬШЕ</span>
          <span class="small-link__icon">
            <svg class="small-link__arrow" aria-hidden="true">
              <use xlink:href="#big-link" />
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="page-slider__slide">
    <div class="page-banner">
      <img class="page-banner__image" src="images/content/banners/main-page_2.jpg" alt="">
      <div class="page-banner__content">
        <h2 class="page-banner__title">Программное<br> обеспечение</h2>
        <div class="page-banner__text">
          <p>Программное обеспечение <span class="color-blue">Selfy Check Diabetes Management System©</span> - лучшая компенсация диабета</p>
        </div>
        <a class="small-link" href="#">
          <span class="small-link__text">УЗНАТЬ БОЛЬШЕ</span>
          <span class="small-link__icon">
            <svg class="small-link__arrow" aria-hidden="true">
              <use xlink:href="#big-link" />
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="page-slider__slide">
    <div class="page-banner">
      <img class="page-banner__image" src="images/content/banners/main-page_3.jpg" alt="">
      <div class="page-banner__content">
        <h2 class="page-banner__title">Системы <span class="color-blue">SelfyCheck</span></h2>
        <div class="page-banner__text">
          <p>Эффективные и точные системы самоконтроля гликемии, мотивирующие к лучшей компенсации диабета</p>
        </div>
        <a class="small-link" href="#">
          <span class="small-link__text">УЗНАТЬ БОЛЬШЕ</span>
          <span class="small-link__icon">
            <svg class="small-link__arrow" aria-hidden="true">
              <use xlink:href="#big-link" />
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
