<div class="js-page-slider page-slider">
  <div class="page-slider__slide">
    <img src="images/content/banners/main-page.jpg" alt="">
    <div class="page-slider__slide-content">
      <h1 class="page-slider__slide-title">Мы создаем <span class="color-blue">здоровое</span> будущее</h1>
      <p class="page-slider__slide-text">Эффективные и точные системы самоконтроля гликемии, мотивирующие к лучшей компенсации диабета</p>
      <p>
        <a class="small-link" href="#">
          <span class="small-link__text">УЗНАТЬ БОЛЬШЕ</span>
          <span class="small-link__icon">
            <svg class="small-link__arrow" aria-hidden="true">
              <use xlink:href="#big-link" />
            </svg>
          </span>
        </a>
      </p>
    </div>
  </div>
</div>
